@import 'reset';


body{
	font-family: "Helvetica Neue", Arial;
	background: #FEFEFE;
}

.tweet{
	border-bottom: 1px solid red;
	padding: 20px;
}

.avatar{
	border-radius: 100%;
	width: 100px;
	height: 100px;
}